**/.classpath
**/.dockerignore
**/.env
**/.env.test
**/.env.example
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
README.md
dev-tools/**
**/docs
**/.github
**/.vscode
**/coverage
**/dist
**/quokka-playground
**/scripts
**/.nvmrc
**/.eslintrc.js
**/.jest.*
**/docker-build-and-push.sh
**/render.yml
**/renovate.json
**/nodemon.json
